@inherits ProfileMenuBase

<MudMenu Direction="Direction.Left" OffsetX="true" Dense="true" Class="mt-1 ml-4">
    <ActivatorContent>
        <MudAvatar Class="bg-dark-pink" style="width: 34px; height: 34px;">
            @Initial
        </MudAvatar>
    </ActivatorContent>
    <ChildContent>
        <PersonCard Class="mt-n2"
                    Initial="@Initial"
                    FullName="@FullName"
                    Role="@Role" />
        <MudDivider Class="mb-2" />
        <form action="@Constants.LogoutPath">
            <div class="d-flex align-center">
                <MudIconButton ButtonType="ButtonType.Submit"
                               Icon="@Icons.Material.Outlined.Login" />
                <span class="ml-2">Log Out</span>
            </div>
        </form>
    </ChildContent>
</MudMenu>